@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

:root{
    --header-height:64px;
    --brand-logo-width:54px;
}

.dark{
    --text_primary:white;
    --text_weak:rgb(212 212 212);
    --background:black;
    --icon_fill:var(--text_primary);
    --icon_stroke:#ffffff;
    --theme_border:rgb(64 64 64);
    --bg_base_surface:rgb(23 23 23);

}


.light{
    --text_primary:black;
    --text_weak:rgb(64 64 64);
    --background:#ffff;
    --icon_fill:var(--text_primary);
    --icon_stroke:#050505;
    --theme_border:rgb(167, 167, 167);
    --bg_base_surface:#e6e6e6;

}


